APP_NAME="October Sandbox"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8082
APP_LOCALE=en

ACTIVE_THEME=sandbox
BACKEND_URI=/admin
CMS_ROUTE_CACHE=false
CMS_ASSET_CACHE=false
LINK_POLICY=detect
DEFAULT_FILE_MASK=664
DEFAULT_FOLDER_MASK=775

DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=app
DB_USERNAME=root
DB_PASSWORD=

LOG_CHANNEL=single
CACHE_STORE=redis
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=sandbox@localhost
MAIL_FROM_NAME="${APP_NAME}"

UID=1000
GID=1000
XDEBUG=false
