.DS_Store
.idea
.vscode/
.env
.env.*.php
.env.php
auth.json
_ide_helper.php
.phpstorm.meta.php
.php-cs-fixer.cache
.phpunit.cache
.phpunit.result.cache
docker-compose.override.yml

/bootstrap/compiled.php
/modules
/vendor
/node_modules

/plugins/*
!/plugins/.gitkeep
